// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
    color: var(--cl-hover) !important;
}

:root {
    --header-bg: #F6F8FA;
    --number-bg: #DEE3E8;
    --fs-sm: 0.75rem;
    --cl-muted: #656D76;
    --cl-hover: #0A69DA;
}
.bg-indigo-600 {
    background-color: $indigo-600; 
}
.bg-orange-500 {
    background-color: $orange-500; 
}
.fs-small {
    font-size: 12px;
}
.fs-md {
    font-size: 14px;
}


.header-bg {
    background-color: var(--header-bg);
}
.number {
    background-color: var(--number-bg);
    font-size: var(--fs-sm);
}
.color-muted {
    color: var(--cl-muted);
}
.octicon {
    display: inline-clock;
    fill: var(--cl-muted)
}
.language-color{
    width: 12px;
    height: 12px;
    border: 1px solid var(--borderColor-muted, var(--color-primer-border-contrast));
    border-radius: 50%;
    // background-color: #0A69DA;
    display: inline-block;
}

.nav-link-active {
    border-bottom: 2px solid #fe9600; 
    font-weight: 500;
}
  
 
.nav-link {
    text-decoration: none;
}

.search-form-visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff; 
}

.bg-purple {
    background-color: #4b2a89 !important;
}
.bg-orange {
    background-color: #f3d334 !important;
}